/* 나눔스퀘어 폰트 웹 전체에 적용 */
body {
  font-family: "NanumSquare", "Nanum Gothic", "MalgunGothic", "Dotum", "Gulim",
    "Arial", sans-serif;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
tr,
span,
li,
div,
input,
textarea,
select,
caption,
table th,
table td {
  font-family: "NanumSquare", "Nanum Gothic", "MalgunGothic", "Dotum", "Gulim",
    "Arial", sans-serif;
  transform: skew(-0.03deg);
}
/* 넷마블 폰트 추가 */
@font-face {
  font-family: "netmarbleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
