<header>
    <div class="logo">
        <a href="http://127.0.0.1:5500/HTML,css,js/templates/home.html">cheongsulmo</a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="#">설문 등록</a></li>
            <li><a href="http://127.0.0.1:5500/HTML,css,js/templates/viewSurvey.html">설문 조회</a></li>
            <li><a href="http://127.0.0.1:5500/HTML,css,js/templates/mypage.html">마이페이지</a></li>
            <li><a href="http://127.0.0.1:5500/HTML,css,js/templates/customer.html">고객센터</a></li>
        </ul>
    </div>
    <div class="button">
        <button class="login_button">Log In</button>
        <button class="signup_button">Sign up</button>
    </div>
</header>