<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>청설모-설문목록</title>
    <script src="../js/includeHTML.js"></script> <!-- js 파일 연결-->
    <link rel="stylesheet" href="../css/includeCSS.css"> <!-- css 파일 연결-->
</head>

<body>
    <header include-html="header.html"></header> <!-- 헤더 부분 -->

    <section class="title_section">
        <div class="titles">
            <div class="buttons">
                <div class="home_button"></div>
                <span>> 설문조회</span>
                <div class="select_button"></div>
            </div>
            <div class="main_title"><span>설문조사 조회</span>를 통해 둘러보아요!</div>
        </div>
        <div class="logo"></div>
    </section>

    <section class="recommend_section">
        <div class="select_interest">
            <div class="titles">
                <div class="main_title">ㅇㅇ님에게 추천드리는<br>오늘의 설문조사!</div>
                <div class="sub_title">ㅇㅇ님의 관심사에 맞춰<br>추천드리는 설문조사를 확인해보세요.</div>
            </div>
            <div class="buttons">
                <button>전공</button>
                <button>전공</button>
                <button>전공</button>
                <br>
                <button>전공</button>
                <button>전공</button>
                <button>전공</button>
            </div>
        </div>
        <div class="recommend_list">
            <div class="title">
                <div class="recommend_title">설문조사<br>조사 타이틀<br>입니다</div>
                <div class="days">D-22</div>
            </div>
            <div class="image"></div>
        </div>
        <div class="recommend_list">
            <div class="title">
                <div class="recommend_title">설문조사<br>조사 타이틀<br>입니다</div>
                <div class="days">D-22</div>
            </div>
            <div class="image"></div>
        </div>
        <div class="recommend_list">
            <div class="title">
                <div class="recommend_title">설문조사<br>조사 타이틀<br>입니다</div>
                <div class="days">D-22</div>
            </div>
            <div class="image"></div>
        </div>
    </section>

    <section class="keyword_section">
        <div class="keyword_list">
            <button class="selected">전체</button>
            <button>IT / 과학</button>
            <button>경영 / 창업</button>
            <button>예술</button>
            <button>인문 / 사회</button>
            <button>심리학</button>
            <button>뷰티 / 미용</button>
        </div>
        <div class="line"></div>
        <div class="hashtag_list">
            <button>해시태그</button>
            <button>해시태그</button>
            <button>해시태그</button>
            <button>해시태그</button>
            <button>해시태그</button>
            <button>해시태그</button>
        </div>
    </section>
    
    <section class="content_section">
        <div class="content">
            <div class="title">
                <div class="recommend_title">설문조사<br>조사 타이틀<br>입니다</div>
                <div class="days">D-22</div>
            </div>
            <div class="hashtag">#해시태그 #해시태그</div>
        </div>
        <div class="content">
            <div class="title">
                <div class="recommend_title">설문조사<br>조사 타이틀<br>입니다</div>
                <div class="days">D-22</div>
            </div>
            <div class="hashtag">#해시태그 #해시태그</div>
        </div>
        <div class="content">
            <div class="title">
                <div class="recommend_title">설문조사<br>조사 타이틀<br>입니다</div>
                <div class="days">D-22</div>
            </div>
            <div class="hashtag">#해시태그 #해시태그</div>
        </div>
        <div class="content">
            <div class="title">
                <div class="recommend_title">설문조사<br>조사 타이틀<br>입니다</div>
                <div class="days">D-22</div>
            </div>
            <div class="hashtag">#해시태그 #해시태그</div>
        </div>
    </section>
    
    <footer include-html="footer.html"></footer> <!-- 푸터 부분 -->
</body>
<script>
    includeHTML(); // 템플릿 불러오는 함수
</script>
</html>